<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pfa1?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="modele/Obtenir.hbm.xml"/>
    <mapping resource="modele/Chercheur.hbm.xml"/>
    <mapping resource="modele/Etablissement.hbm.xml"/>
    <mapping resource="modele/Structurerecherche.hbm.xml"/>
    <mapping resource="modele/Universite.hbm.xml"/>
    <mapping resource="modele/User.hbm.xml"/>
    <mapping resource="modele/Diplome.hbm.xml"/>
    <mapping resource="modele/Inscription.hbm.xml"/>
   
    <mapping resource="modele/Ecrire.hbm.xml"/>
  
    <mapping resource="modele/Editeur.hbm.xml"/>

  
    <mapping resource="modele/Auteur.hbm.xml"/>
   
    <mapping resource="modele/Publication.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
