/* 
    Document   : style
    Created on : 15 mars 2014, 08:46:10
    Author     : USER1
    Description:
        Purpose of the stylesheet follows.
*/

body{
   /* background: azure;*/
    /*font-family:"times new roman", times, cursive;
   font-size:200%;
   font-weight: bold;*/
   /* background: #cccccc; */
   font: 12px Arial;
   background: #666666;
  /*  background-image: url("footer2.png" ) ;
    background-size: cover;*/
    
}

 .ui-growl { left: 770px;top:140px; z-index: 999999 !important;  
            }
 outputLabel
{width:100px;
    
}
 .panel

{
    /*width: 25%;*/
   /* display:block; 
    border-spacing:20px*/
  /* display:block; text-align:center;*/
  /*padding:20px 20px 5px 20px;*/
 /*margin-bottom:10px; */
}
.panel2
{
    /*display: block;
    border-spacing: 10px; */
      padding:0 10px 5px 20px;

}
.table
{  
    /*margin-top: 150px;*/
    position:absolute;
  top:15%;
   left:30%;
   
   /* padding-top: -150px;
  padding-left: -100px;*/

   /* margin: 0 auto;*/
  
background: #ffffff;    
    
     width: 600px;
    /* height: 840px;*/
     color: #666666;
  
   
       font:bold 13px Arial, Helvetica, cursive;
      
}

 .ui-icon-excel {
           /* background:  url("fond.jpg" )    !important;;*/
            width:130px;
            background:  url("fond.jpg" )  !important;
            color: #009933;
           border: 1px solid darkgreen;
            margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
    /*margin-right: 50px;*/
   
     }
     
     .ui-widget .ui-icon-excell {
           /* background:  url("fond.jpg" )    !important;;*/
            /*width:100px;
            background:  url("fond.jpg" )  !important;
            color:#009933;
           border: 1px solid darkgreen;*/
          /*  margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 250px;*/
     background-image: url("valid.png") !important;
    /*margin-right: 50px;*/
   
     }
      .ui-widget .ui-icon-excell1 {
           /* background:  url("fond.jpg" )    !important;;*/
            /*width:100px;
            background:  url("fond.jpg" )  !important;
            color:#009933;
           border: 1px solid darkgreen;*/
          /*  margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 250px;*/
     background-image: url("cross-circle.png") !important;
    /*margin-right: 50px;*/
   
     }
     .colonne {
          
            width:130px;
          
            color: #00ccff;
          
  
   
     }
   .ui-icon-excelll {
           /* background:  url("fond.jpg" )    !important;;*/
           
            background:  url("btnbleu.png" )  !important;
            color: #00ccff;
           border: 1px solid #00ccff;
           
  
    /*margin-right: 50px;*/
   
     }
  
  .ui-center .ui-layout-unit-content  {
   /* background-image: url("corps22.png" ) ;
    background-size: cover;*/
   /* background-image: url("fondblgen.png" ) ;
    background-size: cover;*/
   background: #ffffff;
  /* background: #f0f8ff*/
 /* background: #fafaee*/
    
    }
      .ui-center, .ui-center .ui-layout, .ui-center .ui-layout-bd, .ui-center .ui-layout-unit {
     /*background-image: url("corps22.png" ) ;
     background-size: cover;*/
     /* background-image: url("fondblgen.png" ) ;
    background-size: cover;*/
      padding: 0;
    background: #ffffff;
    border: none;
  
    }

    .ui-north .ui-layout-unit-content  {
    background-image: url("footer2.png" ) ;
    background-size: cover;
   
    color: #ffffff;
     font:bold 25px Arial, Helvetica, cursive;
    }
     .ui-north, .ui-north .ui-layout, .ui-north .ui-layout-bd, .ui-north .ui-layout-unit {
    /* background-image: url("footer2.png" ) ;
     background-size: cover;
      padding: 0;
  
     border: none;*/
     background: #666666;
   /* overflow: hidden !important;
    z-index:40 ;*/
    color: #ffffff;
     font: 15px Arial, Helvetica, cursive;
      /* position: relative;*/
    
        overflow:visible !important;
   
      
    
    }
   .ui-south, .ui-south .ui-layout, .ui-south .ui-layout-bd, .ui-south .ui-layout-unit {
     background-image: url("footer.png" ) ;
     background-size: cover;
      padding: 0;
    
     border: none;
    }
    .ui-south .ui-layout-unit-content  {
    background-image: url("footer2.png" ) ;
    background-size: cover;
    
    }
    