<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">



<!--<bean id="userController" class="controller.UserController">
        
    </bean>-->

</beans>

 <!--<managed-bean>
        <managed-bean-name>UserController</managed-bean-name>
        <managed-bean-class>controller.UserController</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
</managed-bean>-->
